<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>FuriosaAI Warboy Demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'IBMPlexSans Italic';
            src: url("/static/IBMPlexSans-Italic.ttf") format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'IBMPlexSans BoldItalic';
            src: url("/static/IBMPlexSans-BoldItalic.ttf") format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'IBMPlexSans Light';
            src: url("/static/IBMPlexSans-Light.ttf") format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: 'Noto Sans KR', 'IBMPlexSans Italic', 'IBMPlexSans BoldItalic', 'IBMPlexSans Light', sans-serif;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body bgcolor="black">
    <header style="display: flex; margin-left: 3%;">
        <style>
            .logo_image {
                width: 12%;
            }

            .demo_image {
                width: 72.5vw;
            }

            .device {
                width: 20vw;
            }

            @media (min-width: 768px) {
                .logo_image {
                    width: 12%;
                }
            }

            @media (min-width: 18vw) {
                .device {
                    width: 1fr;
                }
            }
        </style>
        <img src="/static/img/Furiosa_AI_h_w.svg" alt="Why" class="logo_image">
        <span
            style="font-family: 'IBMPlexSans BoldItalic' !important; color:white; text-align: left; margin-left: 1%; font-size: 2.5rem; align-content: center;">
            1st NPU CARD - WARBOY VISION DEMO
        </span>
    </header>
    <div style="display: flex; justify-content: left; background-color: black; margin-top: 1%;">
        <div style="margin-left: 2%;">
            <div>
                <img src="/video_feed" alt="Inference Image" class="demo_image">
            </div>
        </div>
        <div style="display: grid; justify-content: right; background-color: black; margin-left: 1.5vw;">
            <div>
                <img src="/static/img/warboy.svg" alt="Why" class="device">
                <!--<img src="/static/img/warboy.gif" alt="Why" class="device">-->
                <!--<video fetchpriority="high" aria-label="Black anim" class="device" src="/static/img/warboy2.mp4"
                    autoplay="" muted="" loop="" playsinline=""></video>-->
            </div>
            <div>
                <p id="DecPower" style="color:white; text-align: left; font-family: IBMPlexSans Light;">NPU Power (W)
                </p>
                <canvas id="power" class="graph" style="height: 6vw; width: 18vw;"></canvas>
            </div>
            <div>
                <p id="DecUtil" style="color:white; text-align: left; font-family: IBMPlexSans Light;">NPU Utilization
                    (%)</p>
                <canvas id="util" class="graph" style="height: 6vw; width: 18vw;"></canvas>
            </div>
            <div>
                <p id="DecTemp" style="color:white; text-align: left; font-family: IBMPlexSans Light;">NPU Temperature
                    (°C)</p>
                <canvas id="temp" class="graph" style="height: 6vw; width: 18vw;"></canvas>
            </div>
        </div>
    </div>

    <script>
        // Chart.js를 사용하여 그래프 생성
        var ctx_1 = document.getElementById('power').getContext('2d');
        var ctx_2 = document.getElementById('util').getContext('2d');
        var ctx_3 = document.getElementById('temp').getContext('2d');
        var dec_1 = document.getElementById('DecPower').textContent;
        var dec_2 = document.getElementById('DecUtil').textContent;
        var dec_3 = document.getElementById('DecTemp').textContent;
        var borderColors = [
            'rgba(255, 99, 132, 1)', 'rgba(3, 201, 169, 1)', 'rgba(4, 85, 255, 1)',
            'rgba(255, 165, 0, 1)', 'rgba(106, 90, 205, 1)', 'rgba(238, 130, 238, 1)',
            'rgba(0, 255, 255, 1)', 'rgba(255, 255, 32, 1)', 'rgba(74, 168, 246, 1)',
            'rgba(209, 249, 185, 1)',
        ]
        var backgroundColors = [
            'rgba(255, 99, 132, 0.2)', 'rgba(3, 201, 169, 0.2)', 'rgba(4, 85, 255, 0.2)',
            'rgba(255, 165, 0, 0.2)', 'rgba(106, 90, 205, 0.2)', 'rgba(238, 130, 238, 0.2)',
            'rgba(0, 255, 255, 0.2)', 'rgba(255, 255, 32, 0.2)', 'rgba(74, 168, 246, 0.2)',
            'rgba(209, 249, 185, 0.2)',
        ]

        var power_data = {
            labels: [],
            datasets: []
        };

        var util_data = {
            labels: [],
            datasets: []
        };

        var temp_data = {
            labels: [],
            datasets: []
        };

        var stat = {}

        var myChart_1 = new Chart(ctx_1, {
            type: 'line',
            data: power_data,
            options: {
                animation: {
                    duration: 300,
                },
                datasets: {
                    line: {
                        pointRadius: 1 // disable for all `'line'` datasets
                    }
                },
                elements: {
                    point: {
                        radius: 1 // default to disabled in all datasets
                    }
                }
            }
        });
        var myChart_2 = new Chart(ctx_2, {
            type: 'line',
            data: util_data,
            options: {
                animation: {
                    duration: 300,
                },
                datasets: {
                    line: {
                        pointRadius: 1 // disable for all `'line'` datasets
                    }
                },
                elements: {
                    point: {
                        radius: 1 // default to disabled in all datasets
                    }
                }

            }
        });
        var myChart_3 = new Chart(ctx_3, {
            type: 'line',
            data: temp_data,
            options: {
                animation: {
                    duration: 300,
                },
                datasets: {
                    line: {
                        pointRadius: 1 // disable for all `'line'` datasets
                    }
                },
                elements: {
                    point: {
                        radius: 1 // default to disabled in all datasets
                    }
                }
            }
        });


        function fetchDeviceData() {
            fetch('/chart_data')
                .then(response => response.json())
                .then(newData => {
                    var power = newData.power;
                    var util = newData.util;
                    var temp = newData.temp;

                    var sec = newData.time;
                    var devices = newData.devices;
                    var len = devices.length;
                    var maxDataPoints = 20;

                    for (var idx = 0; idx < len; idx++) {
                        device = devices[idx];
                        if (!(device in stat)) {
                            var num_datas = power_data.datasets.length;
                            stat[device] = num_datas;
                            power_data.datasets.push(
                                {
                                    label: 'NPU' + device,
                                    data: [],
                                    backgroundColor: backgroundColors[num_datas % 10],
                                    borderColor: borderColors[num_datas % 10],
                                    borderWidth: 1
                                }
                            )
                            util_data.datasets.push(
                                {
                                    label: 'NPU' + device,
                                    data: [],
                                    backgroundColor: backgroundColors[(num_datas + 1) % 10],
                                    borderColor: borderColors[(num_datas + 1) % 10],
                                    borderWidth: 1
                                }
                            )
                            temp_data.datasets.push(
                                {
                                    label: 'NPU' + device,
                                    data: [],
                                    backgroundColor: backgroundColors[(num_datas + 2) % 10],
                                    borderColor: borderColors[(num_datas + 2) % 10],
                                    borderWidth: 1
                                }
                            )
                        }
                        var data_index = stat[device];
                        power_data.datasets[data_index].data.push(power[idx]);
                        util_data.datasets[data_index].data.push(util[idx]);
                        temp_data.datasets[data_index].data.push(temp[idx]);
                    }
                    power_data.labels.push(sec);
                    util_data.labels.push(sec);
                    temp_data.labels.push(sec);


                    if (power_data.labels.length > maxDataPoints) {
                        power_data.labels.shift();
                    }
                    for (var data_idx = 0; data_idx < power_data.datasets.length; data_idx++) {
                        if (power_data.datasets[data_idx].data.length > maxDataPoints) {
                            p = power_data.datasets[data_idx].data.shift();
                        }
                    }
                    if (util_data.labels.length > maxDataPoints) {
                        util_data.labels.shift();
                    }

                    for (var data_idx = 0; data_idx < util_data.datasets.length; data_idx++) {
                        if (util_data.datasets[data_idx].data.length > maxDataPoints) {
                            u = util_data.datasets[data_idx].data.shift();
                        }
                    }

                    if (temp_data.labels.length > maxDataPoints) {
                        temp_data.labels.shift();
                    }

                    for (var data_idx = 0; data_idx < temp_data.datasets.length; data_idx++) {
                        if (temp_data.datasets[data_idx].data.length > maxDataPoints) {
                            t = temp_data.datasets[data_idx].data.shift();
                        }
                    }
                    myChart_1.update();
                    myChart_2.update();
                    myChart_3.update();

                })
                .catch(error => console.error('Error fetching data:', error));
        };
        setInterval(fetchDeviceData, 1000);
    </script>
</body>

</html>